{% extends "header.html" %}
{% load static %}
{% block content%}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>Contact</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="animsition">

    <div class="container login-container m-t-200">
        <div class="card">
          <div class="card-header">
            <h3>Forgot Password</h3>
          </div>
          <div class="card-body">
            <!-- Add your login form here -->

            {%if msg%}
            <div class="alert alert-danger" role="alert">
              {{msg}}
              </div>
            {%endif%}
            <form method="post", action="{%url "new-password" %}">
              {% csrf_token %}
              <div class="form-group">
                <label for="password">New Password</label>
                <input type="password" class="form-control"  name="new-password" placeholder="Enter new Password">
              </div>
              <div class="form-group">
                <label for="confirm password">Confirm New Password</label>
                <input type="password" class="form-control"  name="cnew-password" placeholder="Enter confirm new Password">
              </div>
              <button type="submit" name="action" class="btn btn-primary btn-block">Update Password</button>
            </form>
            
          </div>
        </div>
      </div>

</body>
</html>
{%endblock%}